@model AppUserLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="bootsnipp">
    <meta name="author" content="Mehmet Serkan Ekinci">

    <title>Sign In</title>

    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/darkly.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

    <div class="sidenav">
        <div class="login-main-text">
            <h2>Basic Blog<br> Login Page</h2>
            <p>Login from here to access.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form asp-action="SignIn" method="post">
                    <div class="form-group">
                        <label asp-for="UserName">User Name</label>
                        <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/jquery/jquery.min.js"></script>
</body>
